@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header{
    position: sticky;
    top:0; left: 0; right:0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    box-shadow: var(--box-shadow);
}
header .logo{
    font-family: 'Roboto', sans-serif;
    display: flex;
    color:var(--color-primary-hover);
    font-size: 2.5rem;
    font-weight: bolder;
    align-items: center;
    gap: .5rem;
    justify-content:left;
}
header .logo img{
    width: 6rem;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color: var(--light-color);
    font-weight: 600;
    margin-right: 2px;
    transition: all .2s linear;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--color-primary-hover);
    cursor: pointer;
}

header .icons{
    position: relative;
}
header .icons div{
    cursor: pointer;
    margin-left: .75rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
    transition: all .2s linear;
}

header .icons div:hover{
    color: white; /*#192a56;*/
    background: var(--color-primary-hover);
    transform: rotate(360deg);
}

header .icons #nav-btn{
    display: none;
}

header .icons div.active
{
    color:#fff;
    background: var(--color-primary-hover);
}

header #account-setting.active {
    display: flex;
}

header .dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 90%; right: 7%;
    background-color: #fff;
    max-width: 15rem;
    min-width: 12rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    animation: fadeInRight .4s linear;
}

header .dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: var(--black);
}

header .dropdown hr {
    border: solid rgba(222, 222, 222, 0.5) 1px;
    width: 95%;
    align-self: center;
}

header .dropdown a:hover {
    color: var(--color-secondary-hover);
}

header .dropdown a i {
    padding-left: 25%;
}


/* media queries  */
@media (max-width:991px){/* medium device */
    header{
        padding:1rem 2rem;
    }
}

@media (max-width:768px){/* small device */
  
    header .icons #nav-btn{
      display: inline-block;
    }
    header .icons #nav-btn:focus{
        background: var(--color-primary-hover);
    } 
    header .navbar{
      position: absolute;
      top:100%; left:0; right:0;
      background:#fff;
      border-top: var(--border);
      border-bottom: var(--border);
      padding:1rem;
      transition: all .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      display: block;
      padding:1.5rem;
      margin:1rem;
      font-size: 2rem;
      background:#eee;
      text-align: center;
    }
}

@media (max-width:450px){

}
