.sidebar{
    width: 300px;
    height: 100%;
    background-color: #1ba0e2;
    position: fixed;
    top: 8rem;
    color: white;
    transition: .5s;
    overflow: hidden;
    animation: fadeInLeft .4s linear;
    z-index: 999;
}
.sidebar.active{
    width: 75px;
}

.sidebarList{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    list-style: none;
    padding-left:10px;
}
#leftArrow{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    right:20px;
    top:22px;
    font-size: 3rem;
    width: 40px;
    height: 40px;
    border:2px solid white;
    border-radius: 50%;
    cursor: pointer;

}
#leftArrow.active{
    display: none;
}

#rightArrow{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    left:20px;
    top:22px;
    font-size: 3rem;
    width: 40px;
    height: 40px;
    border:2px solid white;
    border-radius: 50%;
    cursor: pointer;
    display:none;
}
#rightArrow.active{
    display:flex;
    animation: fadeInRight .4s linear;
}
.sidebarTitle{
    font-size: 2rem;
    color: whitesmoke;
    margin: 3rem 0 3rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sidebarTitle.active{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.sidebarListItem{ 
    position: relative;
    cursor: pointer;
    display:flex;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1.5rem;
    width: 100%;
}

.sidebarListItem:hover,
.sidebarListItem.active{
    background-color: white;
    color: #1ba0e2;
}
.sidebarListItem div{
    position:relative;
    display:block;
    display:flex;
    width: 100%;
}
.sidebarListItem div i{
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.75rem;
    padding-left: 5px;
}
.sidebarListItem div .labelIcon{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.sidebarListItem:hover div::before,
.sidebarListItem.active div::before{
    content: '';
    position:absolute;
    right:0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}
.sidebarListItem:hover div::after,
.sidebarListItem.active div::after{
    content: '';
    position:absolute;
    right:0;
    bottom:-50px;
    width:50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}